body {
    height: 300px;
    font-family: 'Roboto', sans-serif;
    color: #1F1A21;
    margin: 0px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 590px;
}

p {
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    margin-left: 15px;
}

/* Menu et entête */
#menu-mobile {
    display: none;
}

.title {
    margin: 1px;
    margin-left: 40px;
    color: white;
}

h1 {
    margin: 0px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #1f1a21;
}

ul {
    list-style: none;
    text-align: right;
    margin: 1px;
    font-size: 1.2em;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    color: white;
}

li a:hover {
    color: black;
}

#menu-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#menu-header-scrollBas {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #0000001a;
}

/* Section 1 */

/* slide */
#img-slide1 {
    display: flex; /* pour que le texte rentre dans l'image slide */
    background-image: url('../images/Randonnee-en-famille-entre-le-barrage-de-Saint-Guerin-et-le-lac-des-Fees-dans-le-Beaufortain-1_default_format4.jpg');
    background-size: cover;
    height: 550px;
    box-shadow: inset 2050px 0 0 #0004;
}

#img-slide2 {
    background-image: url('../images/1533126-3.jpg');
    display: none;
    background-size: cover;
    height: 550px;
    box-shadow: inset 2050px 0 0 #0004;
}

.texte-slide1 {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: x-large;
    width: 80%;
}

.texte-slide2 {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: x-large;
    width: 80%;
}

.boutons {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: x-large;
    margin-top: -300px;
}

.fa {
    font-size: 33px;
}

.fa-min {
    font-size: 15px;
    color: #0006;
}

#bouton-slide-left {
    padding: 14px;
    cursor: pointer;
}

#bouton-slide-right {
    padding: 14px;
    cursor: pointer;
}

.rectangle {
    background-color: #00BFFF;
    padding: 10px;
    width: 110px;
}

.rectangle:hover {
    background-color: #193D5A;
    cursor: pointer;
    color: white;
}

/* Formulaire de recherche section 2 */
#formulaire-recherche {
    margin-top: 160px;
    background-color: #FFFFFFE6;
    height: 90px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 25px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    width: 110px;
    border-color: #cbcbcbb3;
    border-style: solid;
}

input:focus:not(.recherche) {
    border-color: rgba(31, 26, 33, 0.36);
    border-style: ridge;
}

.recherche {
    background-color: #00BFFF;
    color: white;
    border: none;
    width: 130px;
    margin-left: 12px;
    font-weight: 600;
}

.recherche:hover {
    background-color: #193D5A;
    cursor: pointer;
    color: white;
}

/* Main section 3 */
#main {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 10%;

}

.liste-main {
    display: inline-block;
    width: 390px;
    background-color: #F6F7F8;
    margin-right: 40px;
    margin-bottom: 40px;
}

.liste-main:hover {
    background-color: #0000001a;
}

.liste-main-resultat {
    display: inline-block;
    width: 220px;
    background-color: #F6F7F8;
    margin-right: 40px;
}

.liste-resultat {
    display: inline-flex;
    margin-bottom: 20px;
    background-color: #F6F7F8;
}

.liste-resultat:hover {
    background-color: #0000001a;
}

.prix {
    margin-bottom: 30px;
    height: 60px;
    text-align: right;
    color: #00BFFF;
}

#none {
    display: none;
}

/*Formats mobile*/
@media screen and (max-width: 780px) {

    #none {
        display: block;
    }

    /* menu */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
    }

    .texte-slide1 {
        margin-top: 20px;
    }

    .texte-slide2 {
        margin-top: 20px;
    }

    #menu-header {
        display: none;
    }

    #menu-header-scrollBas {
        display: none;
    }

    #menu-mobile {
        display: block;
    }

    #deroul-menu {
        display: none;
    }

    .fa-bars {
        color: white;
    }

    .fa-times {
        color: white;
    }

    ul {
        margin: 0px;
        padding-left: 0px;
    }

    li {
        display: block;
        background-color: #1F1A21CC;
        font-size: 30px;
        margin: 0px;
        text-align: center;
    }

    /* slide */
    .texte-slide1 {
        width: 100%;
    }

    .texte-slide2 {
        width: 100%;
    }

    /* formulaire de recherche */
    #formulaire-recherche {
        height: 260px;
    }

}



