<!DOCTYPE html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Voyage</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://localhost/parcour-5/web/css/style.css">

</head>

<div id="page">
    <p>Loisirs et Vacances</p>
    <nav>
        <ul>
            {{ include('menu.html.twig') }}
        </ul>
    </nav>
</div>
<div id="none">
    <nav>

        <i id="menu-mobile" class="fa fa-bars fa-3x" aria-hidden="true"></i> <i id="menu-close"
                                                                                class="fa fa-times fa-3x none"
                                                                                aria-hidden="true"></i>


        <ul id="deroul-menu">
            {{ include('menu.html.twig') }}
        </ul>
    </nav>
</div>
<body>


<section id="unique">

<div class="form-connection">

    Connexion à l'administration
    <form action="connect" method="post">
        <label>Pseudo:</label>
        <input type="text" name="login" />
        <br />
        <label>Passe: &nbsp;</label>
        <input type="password" name="password" />
        <br />
        <input class="bouton" type="submit" value="Connexion" />
    </form>
</div>

</section>



{{ include('footer.html.twig') }}
