
<!-- Section 1 slide -->
<div id="slide">
    <div id="img-slide1">

        <div class="texte-slide1">
            <h2 class="white">Vous chercher une idée sortie</h2>
            <p>Vous êtes au bon endroit.<br />
                Mise a jours régulière des sorties et événement. </p>
            <a href="geoloc"><p class="rectangle">PLANS <i class="fa fa-angle-right fa-moyen" aria-hidden="true"></i></p></a>
        </div>
    </div>

    <div id="img-slide2">
        <div class="texte-slide2">
            <h2 class="white">Divertissement pour toutes la familles </h2>
            <p>Découvrez les loisirs, lieux touristiques et séjours.<br />
                Une liste de suggestion de loisirs et vacances via le lien ci dessous.</p>
            <a href="geoloc"><p class="rectangle">LISTE <i class="fa fa-angle-right fa-moyen" aria-hidden="true"></i></p></a>
        </div>
    </div>

    <div class="boutons">
        <div id="bouton-slide-left"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div id="bouton-slide-right"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
</div>

{{ include('views/frontend/_search.html.twig') }}

