
{% extends "/views/layout.html.twig" %}


{% block content %}

    <div class="liste-resultat">
        <h2>Me contacter</h2>
        <P>
            Email<br/>
            djamallamri@yahoo.fr
        </P>
    </div>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/menu.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=map"
            async defer></script>

{% endblock %}
