
{% extends "/views/layout.html.twig" %}

{% block meta %}
    <title>Résultat loisirs</title>
{% endblock %}

{% block content %}

    <div id="mapInfo">
        <div id="infoLoisirs"></div>
        <div id="map"></div>

    </div>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/menu.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=map"
            async defer></script>

{% endblock %}
