{% extends "/layout.html.twig" %}


{% block content %}

    <div id="mapInfo">
        <div id="map"></div>
        <div id="infoLoisirs">essai</div>
    </div>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="http://localhost/parcour-5/web/js/ajax.js"></script>
    <script src="http://localhost/parcour-5/web/js/map.js"></script>
    <script src="http://localhost/parcour-5/web/js/menu.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=map"
            async defer></script>

{% endblock %}
