{% extends "/layout.html.twig" %}

{% block content %}
    <div class="title-show">

        {% for loisirs in loisir %}

            {{ loisirs.title }} Distance en mètres {{ loisirs.distance }}<br />



        {% endfor %}
    </div>

    <div id="mapInfo">
        <div id="map"></div>
        <div id="infoLoisirs">essai</div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- script qui appel la map -->

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=result"></script>

    <script src="http://localhost/parcour-5/web/js/ajax.js"></script>
    <script src="http://localhost/parcour-5/web/js/map-result.js"></script>
    <script src="http://localhost/parcour-5/web/js/menu.js"></script>
{% endblock %}
