<!DOCTYPE html>

<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Voyage</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://localhost/parcour-5/web/css/style.css">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/microcms.css') }}" rel="stylesheet">
</head>

<div id="menu-header">
    <nav>

        <i id="menu-mobile" class="fa fa-bars fa-3x" aria-hidden="true"></i> <i id="menu-close" class="fa fa-times fa-3x none" aria-hidden="true"></i>
        <h1>
            <a class="title" href="#slide">
                <img class="parasol" src="http://localhost/parcour-5/web/images/parasol-icon.png" alt="parasol" > Loisirs et Vacances
            </a>
        </h1>
        <ul id="deroul-menu">
            <li><a href="/"> Accueil </a></li>
            <li><a href="liste"> Idée loisirs </a></li>
            <li><a href=""> Contact </a></li>
            <li><a href=""> Aide </a></li>
        </ul>
    </nav>
</div>
<body>

<!-- Section 1 slide -->
<div id="slide">
    <div id="img-slide1">

        <div class="texte-slide1">
            <h2>Vous chercher une idée sortie</h2>
            <p>Vous êtes au bon endroit.<br />
            Mise a jours régulière des sorties et événement. </p>
            <a href="geoloc"><p class="rectangle">PLANS <i class="fa fa-angle-right fa-moyen" aria-hidden="true"></i></p></a>
        </div>
    </div>

    <div id="img-slide2">
        <div class="texte-slide2">
            <h2>Trois clics et c'est partie</h2>
            <p>Remplissez le formulaire si dessous et découvrez les loisirs, lieux touristiques et séjours.<br />
            Une liste de suggestion de loisirs et vacances via le lien si dessous.</p>
            <a href="#main"><p class="rectangle">LISTE <i class="fa fa-angle-right fa-moyen" aria-hidden="true"></i></p></a>
        </div>
    </div>

    <div class="boutons">
        <div id="bouton-slide-left"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div id="bouton-slide-right"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
</div>

<div id="formulaire-recherche">
    <form action="liste/" method="get">
        <p class="queFaire">QUE FAIRE</p>
        <a class="fa fa-bicycle fa-min fa-cat"></a><a class="sous-cat"><img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"> <img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"> <img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"> <img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"> <img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"> <img class="img-sous-menu" src="https://www.progfacil.com/imageP5/tourist-2954034_640.png"></a>  <a href="" title="PLANS"><i class="fa fa-map-o fa-min fa-cat" aria-hidden="true" title="Plans"></i></a> <i class="fa fa-map-signs fa-min fa-cat" aria-hidden="true" title="circuit. Voyage avec guide"></i> <i class="fa fa-cutlery fa-min fa-cat" aria-hidden="true" title="Restaurant, fast food et epiceries"></i> <i class="fa fa-bed fa-min fa-cat" aria-hidden="true" title="hôtel, gîte et camping"></i> </p>
        <input type="hidden"  name="page" value="2" >

        <i class="fa fa-map-marker fa-min ico-recherche" aria-hidden="true" title="Loisirs"></i><input id="pac-input" placeholder="Départ" name="depart">

        <span class="custom-dropdown custom-dropdown--white">
        <select placeholder="Budget" name="budget" class="custom-dropdown__select custom-dropdown__select--white">
            <option value="0">GRATUIT</option>
            <option value="50">Moins de 50 €</option>
            <option value="100">Moins de 100 €</option>
            <option value="200">Moins de 200 €</option>
            <option value="400">Moins de 400 €</option>
            <option value="9999999">Voir tous</option>
        </select>
        </span>
        <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i><input type="text" id="datepicker" id="from" name="from" placeholder="Du">
        <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i><input type="text" id="to" name="to" placeholder="Au">

        <input class="recherche" type="submit" value="Chercher" type="button">
    </form>
</div>
<div id="main">
    <div class="display"><h1> BON PLANS </h1> <P><a href="/liste/?page=0&pageSuivant=50&depart=&budget=0&from=&to=" TITLE="Liste des loisirs"> VOIR TOUT <i class="fa fa-angle-double-right fa-moyen" aria-hidden="true"></i> </a></P> </div>

    {% block content %}{% endblock %}

    <section id="footer">
        <div class="texte-footer"><h2>Remerciement</h2><p>Site web réaliser avec l'aide <a href="https://openclassrooms.com/referral/lamlaam" class="white" title="Formation de professionnelle en ligne"> d'OpenClassrooms </a></p> <p> Grâce à OpenClassroom j'ai pu réaliser mon rêve, de devenir développeur d'applications web.</p> </div>
        <div class="texte-footer"><h2>Mon footer 11</h2> <p> Mon texte presentation</p> <p> <a href="" class="white">suivre le lien <i class="fa fa-angle-double-right fa-moyen" aria-hidden="true"></i></a></p> </div>
        <div class="texte-footer"><h2>Mon footer 11</h2> <p> Mon texte presentation</p> <p> <a href="" class="white">suivre le lien <i class="fa fa-angle-double-right fa-moyen" aria-hidden="true"></i></a></p> </div>
        <div class="texte-footer"><h2>Lien sociaux </h2>
            <p>
                <a href="https://twitter.com/lamridjamal_off"><i class="fa fa-twitter fa-moyen white" title="Twitter"></i></a>
                <a href="https://www.linkedin.com/in/djamal-lamri-5111a8128/"><i class="fa fa-linkedin fa-moyen white" title="LinkedIn"></i></a>
            </p>
        </div>
        <div id="copyright"> copyright 2017 progfacil.com | <a href="https://www.progfacil.com/condition.html" target="_blank" class="white">Mention légales</a> </div>
    </section>
</div>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="http://localhost/parcour-5/web/js/date.js"></script>
    <script src="http://localhost/parcour-5/web/js/menu.js"></script>
    <script src="http://localhost/parcour-5/web/js/slide.js"></script>



</body>
</html>