<!DOCTYPE html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Voyage</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://localhost/parcour-5/web/css/style.css">

</head>

<div id="page">
    <p>Loisirs et Vacances</p>
    <nav>
        <ul>
            {{ include('menu.html.twig') }}
        </ul>
    </nav>
</div>
<div id="none">
    <nav>

        <i id="menu-mobile" class="fa fa-bars fa-3x" aria-hidden="true"></i>
        <i id="menu-close" class="fa fa-times fa-3x none" aria-hidden="true"></i>

        <ul id="deroul-menu">
            {{ include('menu.html.twig') }}
        </ul>
    </nav>
</div>
<body>


<section id="unique">
    <div class="liste-resultat">
        <img class="liste-main-resultat" src="http://localhost/parcour-5/web/images/1533126-3.jpg">
        <P>Séjours de rêve a petit prix</P>
        <P>Plus qu'une semaine pour résérver</P>
        <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> Maroc</P>
        <P class="prix">Prix 120 €</P>
    </div>

    <div class="liste-resultat">
        <img class="liste-main-resultat" src="http://localhost/parcour-5/web/images/1533126-3.jpg">
        <P>Séjours de rêve a petit prix</P>
        <P>Plus qu'une semaine pour résérver</P>
        <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> Maroc</P>
        <P class="prix">Prix 120 €</P>
    </div>

    <div class="liste-resultat">
        <img class="liste-main-resultat" src="http://localhost/parcour-5/web/images/1533126-3.jpg">
        <P>Séjours de rêve a petit prix</P>
        <P>Plus qu'une semaine pour résérver</P>
        <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> Maroc</P>
        <P class="prix">Prix 120 €</P>
    </div>

    <div class="liste-resultat">
        <img class="liste-main-resultat" src="http://localhost/parcour-5/web/images/1533126-3.jpg">
        <P>Séjours de rêve a petit prix</P>
        <P>Plus qu'une semaine pour résérver</P>
        <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> Maroc</P>
        <P class="prix">Prix 120 €</P>
    </div>

</section>




    <div id="map"></div>


{{ include('footer.html.twig') }}
<!-- script qui appel la map -->

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=initMap"></script>
<script src="http://localhost/parcour-5/web/js/ajax.js"></script>
<script src="http://localhost/parcour-5/web/js/map-liste.js"></script>


