body {
    height: 300px;
    font-family: 'Roboto', sans-serif;
    color: #1F1A21;
    margin: 0px;
}


.blue {
    color: rgb(18, 159, 250);
}

.white {
    color: white;
}
.white:hover {
    color: white;
}

.display {
    display: flex;
    justify-content: space-between;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 590px;
    width: 100%;
}

#mapInfo {
    display: flex;
}

#infoLoisirs {
    display: none;
    width: 30%;
    border-color: #E5E5E5;
    border-style: solid;
}

#imageMap {
    width: 100%;
}

p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

h2 {
    margin-left: 15px;
    margin-top: 1px;
    margin-bottom: 10px;
}

.reserver {
    background-color: #07C18E;
    padding: 10px;
    cursor: pointer;
    margin-left: 275px;
    color: white;
}
.reserver:hover {
    background-color: #00FFC2;
    cursor: pointer;
    color: white;
}


/* Menu et entête */
#menu-mobile {
    display: none;
}

.title {
    margin: 15px;
    margin-left: 40px;
    color: white;
}

h1 {
    margin: 0px;
    margin-top: 2px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #1f1a21;
}

ul {
    list-style: none;
    text-align: right;
    margin: 1px;
    font-size: 1.2em;
}

li {
    display: inline;
    margin: 5px;
}

div#menu-header li a {
    color: white;
}

li a:hover {
    border-top-color: #00BFFF;
    border-top-style: solid;
    padding-top: 13px;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#menu-header-scrollBas {
    display: none;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.1);
}

/* Section 1 */

/* slide */
#img-slide1 {
    display: flex; /* pour que le texte rentre dans l'image slide */
    background-image: url('../images/panorama-vert.jpg');
    background-size: cover;
    height: 460px;
    box-shadow: inset 2050px 0 0 rgba(0, 0, 0, 0.18);
}

#img-slide2 {
    background-image: url('../images/bateau.jpg');
    display: none;
    background-size: cover;
    height: 460px;
    box-shadow: inset 2050px 0 0 rgba(0, 0, 0, 0.18);
}

.texte-slide1 {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: large;
    width: 80%;
}

.texte-slide2 {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: large;
    width: 80%;
}

.boutons {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: x-large;
    margin-top: -300px;
}

.fa {
    font-size: 40px;
}

.fa-min {
    font-size: 15px;
    color: #0006;
}

.fa-moyen {
    font-size: 21px;
    margin-left: 12px;
}

#bouton-slide-left {
    padding: 14px;
    cursor: pointer;
}

#bouton-slide-right {
    padding: 14px;
    cursor: pointer;
}

.rectangle {
    background-color: #00BFFF;
    color: white;
    padding: 10px;
    width: 85px;
    cursor:pointer;
}

.rectangle:hover {
    background-color: #193D5A;
    cursor: pointer;
    color: white;
}

/* Formulaire de recherche section 2 */
#formulaire-recherche {
    margin-top: 127px;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.59);
    height: 84px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    width: 110px;
    border-color: #cbcbcbb3;
    border-style: none;
}
select {
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    width: 125px;
    border-color: #cbcbcbb3;
    border-style: none;
}

.queFaire {
    margin-bottom: 0px;
}

.recherche {
    background-color: #00BFFF;
    color: white;
    border: none;
    width: 130px;
    margin-left: 12px;
    font-size: 18px;
    padding-top: 7px;
}

.recherche:hover {
    background-color: #193D5A;
    cursor: pointer;
    color: white;
}

/* Main section 3 */

#main {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 10%;
}

#unique {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.title-show {
    margin-top: 80px;
    width: 75%;
}
article {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.liste-main {
    display: inline-block;
    width: 390px;
    background-color: #F6F7F8;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.34);
}
img.liste-main {
    height: 300px;
}
img.liste-main-unique {
    height: 300px;
    margin-left: 15px;
}

.shadow-none:hover {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.3);
}
.liste-main:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.liste-main-resultat {
    display: inline-block;
    background-color: #F6F7F8;
    height: 100px;
}

.liste-resultat {
    display: inline-flex;
    margin-bottom: 20px;
    background-color: #F6F7F8;
}

.fa.fa-map-marker.fa-min.ico-recherche {
    position: relative;
    left: 30px;
}

.liste-resultat:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.prix {
    text-align: right;
    color: #00BFFF;
}

div#page {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.1);
}

/* administration */

.bouton {
    width: 190px;
}

.form-connection {
    background-color: #bdbdbd;
    padding: 10px;
    text-align: center;
}

/* Footer */

#footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #212121;
    color: white;
}

.texte-footer {
    width: 205px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#none {
    display: none;
}

.block {
    display: block;
}


/*Formats mobile*/
@media screen and (max-width: 780px) {

    #none {
        display: block;
    }

    /* menu */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
    }

    .texte-slide1 {
        margin-top: 40px;
    }

    .texte-slide2 {
        margin-top: 40px;
    }

    #menu-header {
        display: none;
    }

    #menu-header-scrollBas {
        display: none;
    }

    #menu-mobile {
        display: block;
    }

    #deroul-menu {
        display: none;
    }

    .fa-bars {
        margin: 5px;
        color: #00BFFF;
    }

    .fa-times {
        color: #00BFFF;
        margin-bottom: -40px;
    }

    ul {
        margin: 0px;
        padding-left: 0px;
    }

    li {
        display: block;
        background-color: rgba(31, 26, 33, 0.8);
        font-size: 30px;
        margin: 0px;
        text-align: center;
    }

    li a {
        color: white;
    }

    ul#deroul-menu {
        margin-left: auto;
        margin-right: auto;
        z-index: 20000; /* pour que le menu ne soit pas cacher par google map qui a mis un z-index 2000  */
    }

    div#page {
        display: none;
    }

    /* slide */
    .texte-slide1 {
        width: 100%;
    }

    .texte-slide2 {
        width: 100%;
    }

    /* formulaire de recherche */
    #formulaire-recherche {
        height: 260px;
    }

    #main {
        margin-left: 0px;
    }

    .liste-main {
        max-width: 300px;
        margin-right: 0px;
    }

    .reserver {
        margin-left: 200px;
    }

    .liste-resultat {
        display: inline-block;
        max-width: 260px;
    }

}



